        <%- include('../includes/head.ejs') %>
    </head>
    <body>
        <main>
            <%- include('../includes/nav.ejs') %>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Authentication Module</h1>
                    <p class="lead">This is a authentication Module using MongoDB, Express.js, EJS and Node.js.</p>
                </div>
            </div>
        </main>
    <%- include('../includes/end.ejs') %>